= current_user.name
%br
= current_user.phone

= render 'profiles/openAppointments', appointments: @facade.opened_appointments

= render 'profiles/closedAppointments', appointments: @facade.closed_appointments