.dropdown
  %button#filter-categories.btn.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", type: "button"}
    = t('.categories')
  %ul.dropdown-menu{ "aria-labelledby" => "filter-categories" }
    %li
      = link_to t('.all'), root_path, class: "dropdown-item"
    - @facade.categories.each do |category|
      %li
        = link_to category, doctors_path(category:), class: "dropdown-item"